@page
@model Slownik.Pages.Slowa.Add2Model

@{
    ViewData["Title"] = "Add2";
}
@if (User.Identity.Name != "czemek17@gmail.com")
{
    <h3>BRAK UPRAWNIEŃ</h3>
}
else
{
    <h1>NOWE SŁOWO</h1>

    @*<h4>Slowa</h4>*@
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Slowa.Polski" class="control-label"></label>
                    <input asp-for="Slowa.Polski" class="form-control" />
                    <span asp-validation-for="Slowa.Polski" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Slowa.Angielski" class="control-label"></label>
                    <input asp-for="Slowa.Angielski" class="form-control" />
                    <span asp-validation-for="Slowa.Angielski" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zatwierdź" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Wróć do spisu</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
            }